networks:
  apitemplate-backend:
    name: apitemplate-backend

services:
  apitemplate.redis:
    container_name: apitemplate.redis
    image: redis:latest
    restart: always
    ports:
#      - "${ADDRESS}:8003:6379"
      - 8003:6379
    networks:
      - apitemplate-backend
  apitemplate.db:
    container_name: apitemplate.db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    image: postgres:latest
    restart: always
    volumes:
      - appdata:/var/lib/postgresql/data
    ports:
#      - "${ADDRESS}:8002:5432"
      - 8002:5432
    networks:
      - apitemplate-backend
  apitemplate.seq:
    container_name: apitemplate.seq
    image: datalust/seq:latest
    restart: always
    environment:
      - ACCEPT_EULA=Y
    ports:
#      - "${ADDRESS}:5341:5341"
#      - "${ADDRESS}:8004:80"
      - 5341:5341
      - 8004:80
    networks:
      - apitemplate-backend
  apitemplate.api.green:
    container_name: apitemplate.api.green
    image: apitemplate.api
    build:
      context: .
      dockerfile: src/apitemplate.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://*:80
      - ConnectionStrings__DbConnection=User Id=postgres;Password=postgres;Server=apitemplate.db;Port=5432;Database=postgres;Integrated Security=true;Pooling=true;
      - ConnectionStrings__Redis=apitemplate.redis:6379
      - JwtSettings__Secret=0ba697edfae041c1c756547c88f737db379231f94cf1f89092698877d87e54a2
      - JwtSettings__ExpiryMinutes=10
      - JwtSettings__Issuer=ApiTemplate
      - JwtSettings__Audience=ApiTemplate
    ports:
#      - "${ADDRESS}:8100:80"
      - 8100:80
    depends_on:
      - apitemplate.db
      - apitemplate.redis
      - apitemplate.seq
    networks:
      - apitemplate-backend
  apitemplate.api.blue:
    container_name: apitemplate.api.blue
    image: apitemplate.api
    build:
      context: .
      dockerfile: src/apitemplate.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://*:80
      - ConnectionStrings__DbConnection=User Id=postgres;Password=postgres;Server=apitemplate.db;Port=5432;Database=postgres;Integrated Security=true;Pooling=true;
      - ConnectionStrings__Redis=apitemplate.redis:6379
      - JwtSettings__Secret=0ba697edfae041c1c756547c88f737db379231f94cf1f89092698877d87e54a2
      - JwtSettings__ExpiryMinutes=10
      - JwtSettings__Issuer=ApiTemplate
      - JwtSettings__Audience=ApiTemplate
    ports:
#      - "${ADDRESS}:8200:80"
      - 8200:80
    depends_on:
      - apitemplate.db
      - apitemplate.redis
      - apitemplate.seq
    networks:
      - apitemplate-backend
  apitemplate.api.white:
    container_name: apitemplate.api.white
    image: apitemplate.api
    build:
      context: .
      dockerfile: src/apitemplate.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://*:80
      - ConnectionStrings__DbConnection=User Id=postgres;Password=postgres;Server=apitemplate.db;Port=5432;Database=postgres;Integrated Security=true;Pooling=true;
      - ConnectionStrings__Redis=apitemplate.redis:6379
      - JwtSettings__Secret=0ba697edfae041c1c756547c88f737db379231f94cf1f89092698877d87e54a2
      - JwtSettings__ExpiryMinutes=10
      - JwtSettings__Issuer=ApiTemplate
      - JwtSettings__Audience=ApiTemplate
    ports:
#      - "${ADDRESS}:8300:80"
#      - "${ADDRESS}:8301:443"
      - 8300:80
      - 8301:443
    depends_on:
      - apitemplate.db
      - apitemplate.redis
      - apitemplate.seq
    networks:
      - apitemplate-backend
  apitemplate.loadbalancer:
    container_name: apitemplate.loadbalancer
    image: apitemplate.loadbalancer
    build:
      context: .
      dockerfile: src/apitemplate.LoadBalancer/Dockerfile
    restart: always
    ports:
#      - "${ADDRESS}:8001:80"
      - 8001:80
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://*:80
      - ReverseProxy__Clusters__api__Destinations__green__Address=http://api.green:80
      - ReverseProxy__Clusters__api__Destinations__blue__Address=http://api.blue:80
      - ReverseProxy__Clusters__api__Destinations__white__Address=http://api.white:80
      - ReverseProxy__Clusters__api__LoadBalancingPolicy=RoundRobin
      - ReverseProxy__Routes__api__ClusterId=api
      - ReverseProxy__Routes__api__Match__Path={**catch-all}
    depends_on:
      - apitemplate.api.green
      - apitemplate.api.blue
      - apitemplate.api.white
    networks:
      - apitemplate-backend

volumes:
  appdata:
    