# This is a generated file. Not intended for manual editing.
services:
  apitemplate.api.blue:
    build:
      context: "C:\\Users\\yanko\\RiderProjects\\ApiTemplate"
      dockerfile: "src/apitemplate.Api/Dockerfile"
      target: "base"
      args:
        BUILD_CONFIGURATION: "Debug"
    command: []
    entrypoint:
    - "/opt/rider-debugger/linux-x64/dotnet/dotnet"
    - "/opt/rider-debugger/JetBrains.Debugger.Worker.exe"
    - "--mode=server"
    - "--frontend-port=57100"
    - "--backend-port=57300"
    - "--timeout=60"
    environment:
      DOTNET_USE_POLLING_FILE_WATCHER: "true"
      RIDER_DEBUGGER_LOG_DIR: "/var/opt/rider-debugger"
      RESHARPER_LOG_CONF: "/etc/opt/rider-debugger/backend-log.xml"
    image: "apitemplate.api:dev"
    ports:
    - "127.0.0.1:57020:57100"
    - "127.0.0.1:57220:57300"
    volumes:
    - "C:\\Users\\yanko\\.nuget\\packages:/root/.nuget/packages"
    - "C:\\Users\\yanko\\RiderProjects\\ApiTemplate\\src\\ApiTemplate.Api:/app:rw"
    - "C:\\Users\\yanko\\RiderProjects\\ApiTemplate:/src:rw"
    - "C:\\Users\\yanko\\AppData\\Local\\JetBrains\\RiderRemoteDebugger\\2023.3\\\
      Linux64:/opt/rider-debugger"
    - "C:\\Users\\yanko\\AppData\\Local\\JetBrains\\Toolbox\\apps\\Rider\\ch-0\\233.11799.261\\\
      bin:/etc/opt/rider-debugger/backend-log.xml"
    - "C:\\Users\\yanko\\AppData\\Local\\JetBrains\\Rider2023.3\\log\\DebuggerWorker\\\
      JetBrains.Debugger.Worker.2023_12_10_11_05_57:/var/opt/rider-debugger:rw"
    working_dir: "/app"
  apitemplate.api.green:
    build:
      context: "C:\\Users\\yanko\\RiderProjects\\ApiTemplate"
      dockerfile: "src/apitemplate.Api/Dockerfile"
      target: "base"
      args:
        BUILD_CONFIGURATION: "Debug"
    command: []
    entrypoint:
    - "/opt/rider-debugger/linux-x64/dotnet/dotnet"
    - "/opt/rider-debugger/JetBrains.Debugger.Worker.exe"
    - "--mode=server"
    - "--frontend-port=57100"
    - "--backend-port=57300"
    - "--timeout=60"
    environment:
      DOTNET_USE_POLLING_FILE_WATCHER: "true"
      RIDER_DEBUGGER_LOG_DIR: "/var/opt/rider-debugger"
      RESHARPER_LOG_CONF: "/etc/opt/rider-debugger/backend-log.xml"
    image: "apitemplate.api:dev"
    ports:
    - "127.0.0.1:57021:57100"
    - "127.0.0.1:57221:57300"
    volumes:
    - "C:\\Users\\yanko\\.nuget\\packages:/root/.nuget/packages"
    - "C:\\Users\\yanko\\RiderProjects\\ApiTemplate\\src\\ApiTemplate.Api:/app:rw"
    - "C:\\Users\\yanko\\RiderProjects\\ApiTemplate:/src:rw"
    - "C:\\Users\\yanko\\AppData\\Local\\JetBrains\\RiderRemoteDebugger\\2023.3\\\
      Linux64:/opt/rider-debugger"
    - "C:\\Users\\yanko\\AppData\\Local\\JetBrains\\Toolbox\\apps\\Rider\\ch-0\\233.11799.261\\\
      bin:/etc/opt/rider-debugger/backend-log.xml"
    - "C:\\Users\\yanko\\AppData\\Local\\JetBrains\\Rider2023.3\\log\\DebuggerWorker\\\
      JetBrains.Debugger.Worker.2023_12_10_11_05_57:/var/opt/rider-debugger:rw"
    working_dir: "/app"
  apitemplate.api.white:
    build:
      context: "C:\\Users\\yanko\\RiderProjects\\ApiTemplate"
      dockerfile: "src/apitemplate.Api/Dockerfile"
      target: "base"
      args:
        BUILD_CONFIGURATION: "Debug"
    command: []
    entrypoint:
    - "/opt/rider-debugger/linux-x64/dotnet/dotnet"
    - "/opt/rider-debugger/JetBrains.Debugger.Worker.exe"
    - "--mode=server"
    - "--frontend-port=57100"
    - "--backend-port=57300"
    - "--timeout=60"
    environment:
      DOTNET_USE_POLLING_FILE_WATCHER: "true"
      RIDER_DEBUGGER_LOG_DIR: "/var/opt/rider-debugger"
      RESHARPER_LOG_CONF: "/etc/opt/rider-debugger/backend-log.xml"
    image: "apitemplate.api:dev"
    ports:
    - "127.0.0.1:57022:57100"
    - "127.0.0.1:57222:57300"
    volumes:
    - "C:\\Users\\yanko\\.nuget\\packages:/root/.nuget/packages"
    - "C:\\Users\\yanko\\RiderProjects\\ApiTemplate\\src\\ApiTemplate.Api:/app:rw"
    - "C:\\Users\\yanko\\RiderProjects\\ApiTemplate:/src:rw"
    - "C:\\Users\\yanko\\AppData\\Local\\JetBrains\\RiderRemoteDebugger\\2023.3\\\
      Linux64:/opt/rider-debugger"
    - "C:\\Users\\yanko\\AppData\\Local\\JetBrains\\Toolbox\\apps\\Rider\\ch-0\\233.11799.261\\\
      bin:/etc/opt/rider-debugger/backend-log.xml"
    - "C:\\Users\\yanko\\AppData\\Local\\JetBrains\\Rider2023.3\\log\\DebuggerWorker\\\
      JetBrains.Debugger.Worker.2023_12_10_11_05_57:/var/opt/rider-debugger:rw"
    working_dir: "/app"
  apitemplate.loadbalancer:
    build:
      context: "C:\\Users\\yanko\\RiderProjects\\ApiTemplate"
      dockerfile: "src/apitemplate.LoadBalancer/Dockerfile"
      target: "base"
      args:
        BUILD_CONFIGURATION: "Debug"
    command: []
    entrypoint:
    - "/opt/rider-debugger/linux-x64/dotnet/dotnet"
    - "/opt/rider-debugger/JetBrains.Debugger.Worker.exe"
    - "--mode=server"
    - "--frontend-port=57100"
    - "--backend-port=57300"
    - "--timeout=60"
    environment:
      DOTNET_USE_POLLING_FILE_WATCHER: "true"
      RIDER_DEBUGGER_LOG_DIR: "/var/opt/rider-debugger"
      RESHARPER_LOG_CONF: "/etc/opt/rider-debugger/backend-log.xml"
    image: "apitemplate.loadbalancer:dev"
    ports:
    - "127.0.0.1:57023:57100"
    - "127.0.0.1:57223:57300"
    volumes:
    - "C:\\Users\\yanko\\.nuget\\packages:/root/.nuget/packages"
    - "C:\\Users\\yanko\\RiderProjects\\ApiTemplate\\src\\ApiTemplate.LoadBalancer:/app:rw"
    - "C:\\Users\\yanko\\RiderProjects\\ApiTemplate:/src:rw"
    - "C:\\Users\\yanko\\AppData\\Local\\JetBrains\\RiderRemoteDebugger\\2023.3\\\
      Linux64:/opt/rider-debugger"
    - "C:\\Users\\yanko\\AppData\\Local\\JetBrains\\Toolbox\\apps\\Rider\\ch-0\\233.11799.261\\\
      bin:/etc/opt/rider-debugger/backend-log.xml"
    - "C:\\Users\\yanko\\AppData\\Local\\JetBrains\\Rider2023.3\\log\\DebuggerWorker\\\
      JetBrains.Debugger.Worker.2023_12_10_11_05_57:/var/opt/rider-debugger:rw"
    working_dir: "/app"
